<p>registration works!</p>
<div class="container head px-4 py-5 ">
     
    <div class="row header mt-5">
        <div class="row headrow">
            <!-- <img src="" class="img-thumbnail"> -->
            <figure>
                <img src="" alt="">
                
            </figure>
            <figcaption>IIM</figcaption>
            
        </div>
        <div class="col text text-header">
            
            <div class="container">
                <div class="row px-3">
                    <nav class="text-muted mt-2">Institution Registration</nav>
                    <div class="col col-4 mb-3 name firstname">
                        
                              <label for="nameInput" class="form-label" >Enter Institution Code</label>
                              <input type="text" class="form-control" id="mail" aria-describedby="namehelp" value="code">
                              <div id="namehelp" class="form-text">Name shoud be alphabets only</div>
                    </div>
                <div class="col col-4  mb-3">
                    <label id="mailid" for="mailInput" class="form-label">Enter the Mailid</label>
                    <input type="text" class="form-control" value="Enter mailid" >
                    <div id="mailhelp" class="form-text">Mail should be in proper format</div>
                </div>
                <div class="col col-4 mb-3">
                    <label class="form-label" for="instituteName" id="instituteName">Enter Name Institute</label>
                    <input type="text" class="form-control">
                    <div class="form-text">Name should be alphabets only</div>
                </div>
                <div class="col col-4 ">
                    <label class="form-label" id="type" for="type" >Enter Institute Type</label>
                    <input class="form-control" id="typeName" type="text">
                    <div class="form-text ">Type of Institute</div>
                </div>
                <div class="col col-4">
                    <label class="form-label" for="categoryName" id="categoryName">Enter Category</label>
                    <input class="form-control" id="categoryInput" aria-describedby="categoryHelp" type="text" value="Category">
                    <div class="form-text" id="categoryHelp" >Institute Category</div>
                </div>

                
            </div>
            <label class="form-label text-muted" id="details">Institution Details</label>
            <div class="row px-4">
                <div class="col col-4 mb-3">
                    <label class="form-label " for="addLine1" id="addLine1">Enter the Address Line1</label>
                    <input class="form-control" id="addInput" aria-describedby="addHelp" type="text" value="Address1">
                    <div class="form-label" id="addHelp">Enter Primary Address</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="addLine2" id="addLine2" class="form-label">Enter Address Line2</label>
                    <input class="form-control" id="addLine2Input" type="text"  aria-describedBy="addLine2Help" placeholder="AddressLine2">
                    <div class="form-text" id="addLine2Help"></div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="city" class="form-label" id="cityName" >City/Town</label>
                    <input class="form-control" id="cityInput" aria-describedBy="cityHelp" type="text" placeholder="Enter city">
                    <div class="form-text" id="cityHelp" > Enter Nearest City</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="district" class="form-label" id="distName" >District</label>
                    <input class="form-control" id="distInput" aria-describedBy="distHelp" type="text" placeholder="Enter District">
                    <div class="form-text" id="distHelp" > Enter District</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="state" class="form-label" id="stateName" >State</label>
                    <input class="form-control" id="stateInput" aria-describedBy="stateHelp" type="text" placeholder="Enter State">
                    <div class="form-text" id="stateHelp" > Enter State</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="country" class="form-label" id="countryName">Country</label>
                    <input class="form-control" id="countryInput"  aria-describedBy="countryHelp" type="text">
                    <div class="form-text" id="countryHelp" >Enter the Nation</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="zipcode" class="form-label" id="zipName">Zip-Code</label>
                    <input class="form-control" id="zipInput" aria-describedby="zipHelp" type="text" placeholder="*****">
                    <div class="form-text" id="zipHelp" >Enter the postal-code</div>
                </div>
            </div>
            <div class="row px-4">
                <div class="col col-4 mb-3">
                    <label for="mobileno" class="form-label" id="mobileName">Mobile No</label>
                    <input class="form-control" id="mobileInput" aria-describedby="mobileHelp" type="number" placeholder="**********">
                    <div class="form-text" id="mobileHelp" >Enter the postal-code</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="optValid" class="form-label" id="otpName">OTP</label>
                    <input class="form-control" id="otpInput" aria-describedby="otpHelp" type="number" placeholder="*****">
                    <div class="form-text" id="otpHelp" >Enter the OTP</div>
                </div>
            </div>
            <div class="row px-4">
                <div class="col col-4 mb-3">
                    <label for="mailId" class="form-label" id="mailName">Mail Name</label>
                    <input class="form-control" id="mobileInput" aria-describedby="mailHelp" type="text" placeholder="******@***">
                    <div class="form-text" id="mailHelp" >Enter the postal-code</div>
                </div>
                <div class="col col-4 mb-3">
                    <label for="optValid" class="form-label" id="otpName">OTP</label>
                    <input class="form-control" id="otpInput" aria-describedby="otpHelp" type="number" placeholder="*****">
                    <div class="form-text" id="otpHelp" >Enter the OTP</div>
                </div>
            </div>
            <div class="row px-4">
                <div class="col   mb-3">
                    <div class="btn btn-info ">Register Institute</div>
                </div>
                <div class="col  mb-3 ">
                    <div class="btn btn-success">Submit Institute</div>
                </div>
            </div>
        </div>
            
        
        </div>

    </div>
    <div class="row  form">
        <div class="col text text-form">
             
        </div>

    </div>
    
</div>
