<p>components works!</p>
<div class="container bg-light">
    <div class="callout">This is call out text call</div>
    <div class="accordion ">
        <div class="accordion-item text text-blue">
            <h1 class="accordion-header">
                <div class="btn btn-info">First Click</div>
            </h1>
            <div class="accordion-collapse">
                <div class="accordion-body">
                    <strong>I am body text </strong>
                </div>
            </div>
    </div>

</div>
<app-forms></app-forms>
