<!-- <div class="form-group col fullWidth"  
     [ngClass]="{'invalid': addressLine1.invalid && (addressLine1.dirty || addressLine1.touch)}">
    <label class="form-label star">AddressLine1</label>
    <input type="text" id="addressLine1" class="form-control form-control-sm" name="addressLine1" #addressLine1="ngModel"
    [(ngModel)]="addressObject.addressLine1" required>

    <div *ngIf="addressLine1.errors?.required" class="text-danger">Address Required</div>
    
</div> -->

<div class="form-group col fullWidth">
        <label class="form-label star">AddressLine1</label>
    <input type="text" id="addressLine1" class="form-control form-control-sm" name="addressLine1" 
     required>

    <!-- <div *ngIf="addressLine1.errors?.required" class="text-danger">Address Required</div> -->
    
</div>
<p>This is a trail class</p>
<input type="text" name="name"  placeholder="" > 
{{username}}
