<p>content works!</p>
<div class="container px-3">
    <div class="h2">THis is a Header2 Line
    <div class="text-muted">Here comes the muted text</div>
</div>

<div class="h2">Now we define header class h2 <span>Text in sapn </span> <small class="text-muted">Text in samll tag </small></div>
</div>
<div class="container px-3">
    <div class="display-1 ">Text in the display tag similar to header up to 6</div>
    <div class="display-5">Display text 5</div>
    <!-- .lead  -->
    <div class="display-6"> This is a display 6class and  <abbr title="display-6">By</abbr><div class="lead">This is lead text inside the display which is not text-muted and started in new line <abbr title="lead">By</abbr></div></div>
    <p>You can use the mark tag to <mark>highlight</mark><abbr title="mark">By</abbr> text.</p>
<p><del>This line of text is meant to be treated as deleted text.<abbr title="del">By</abbr></del></p>
<p><s>This line of text is meant to be treated as no longer accurate. <abbr title="s">By</abbr></s></p>
<p><ins>This line of text is meant to be treated as an addition to the document. <abbr title="ins">By</abbr></ins></p>
<p><u>This line of text will render as underlined. <abbr title="u">By</abbr></u></p>
<p><small>This line of text is meant to be treated as fine print.  <abbr title="small">By</abbr></small></p>
<p><strong>This line rendered as bold text.<abbr title="strong">By</abbr></strong></p>
<p><em>This line rendered as italicized <abbr title="em"> text.</abbr></em></p>

<!-- on mouse hover some text display on hover word -->
<div class="p"> <abbr title="Hypertext Markup Language using abbr-title">HTML</abbr></div>
<div class="p">This is some block-quote text 
    <div class="blockquote">
        <p>Humans are reare disoredered than Wild <abbr title="blockquote">By</abbr> </p>
    </div>
    <figcaption class="blockquote-footer">Sharik</figcaption>
    <div class="blockquote-footer"> <abbr title="blockquote-footer">By Rakesh</abbr> </div>
</div>
<!-- Text alignments -->
<div class="blockquote text-center">This is text to center <abbr title="text-center/text-start,text-end">By</abbr> <div class="blockquote-footer">By Rakesh</div></div>

<!-- Images  -->
<div class="text-center">
    <img class="rounded" src="..." alt="">
</div>
<img src="..."  class="rounded float-start">
<img src=".." class="rounded float-end">
<br>
<img src="..." class="rounded float-start" alt="...">
<img src="..." class="rounded float-end" alt="...">
<br>
<img src="..." class="img-fluid">

<br>
<table class="table table-danger table-striped  table-hover">
    <thead>
        <tr>
            <th scope="col">Header1</th>

            <th scope="col">First Name</th>
            <th scope="col">Last</th>
        </tr>

    </thead>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
    </tr>
    <tr>
        <th scope="row"> 2</th>
        <td>Lain</td>
    </tr>
    
    <tbody>

    </tbody>
</table>
</div>
