<p>carousal works!</p>

<div class="carousal">
    <header class="fixed-top">Wellcome to tcource</header>
    <p> We are discussing the API of Carousal ,<br> based on the image cylces on the indication and arraows to togggle the images <br>
    <span><b>ngb-carousal API</b></span>
     Lests go:<br></p>
     <div class="inputs">
        <ul>
            <li>
                activeId:
            </li>
            <li>
                animation:
            </li>
            <li>
                interval
            </li>
            <li>
                keyboard
            </li>
            <li>
                pauseOnFocus
            </li>
            <li>
                pauseOnHover
            </li>
            <li>
                showNavigationArrows
            </li>
            <li>
                showNavigationIndicators
            </li>
            <li>
                wrap
            </li>
        </ul>
     </div>

     <footer><span>THis is a footer message</span></footer>
    

</div>
