<p>accordtion works!</p>
<!-- <div class="ngbAccordion">
    <div class="ngbAccordionItem ngbAccordionHeader">
        <button class="ngbAccordionButton">First Click</button>

    </div>
    <div class="ngbAccordion ngbAccordionCollapase ngbAccordionBody">
        <ng-template>Content ofFirst Item</ng-template>
    </div>
</div> -->

<div ngbAccordion>
    <div ngbAccordionItem>
        <div>
            <button ngbAccordionButton>Click Me</button>
        </div>
        <div ngbAccordionCollapse>
            <div  ngbAccordionBody>
                <ng-template>This is click text</ng-template>
                <ng-template>This is Text-2 Display in same Container</ng-template>
            </div>
            <div ngbAccordionBody>
                <ng-template>Text in diff=rent containere</ng-template>
            </div>
            <div ngbAccordionBody>
                <ng-template >Click for the Achivements</ng-template>
                
            </div>
        </div>
    </div>
</div>