<p>layoutg works!</p>
<div class="px3 py5">
    <div class="container text text-blue"> This is a container</div>
   
</div>
<body class="">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <div class="text text-blue">This is Cotainer1</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text text-brown">This is row2 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row2 in container1</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            <div class="col">
                <div class="text text-brown">This is row3 in container1</div>
            </div>
            
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="text text-brown">This is 6-cols width</div>
            </div>
            <div class="col-6">
                <div class="text text-brown">This is 6-cols width</div>
            </div>
        </div>
    </div>
    <!-- set the colums based on the screen sizes  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>
            <div class="col-sm-4 col-lg-3 text text-blue"> This col take 4 spaces on small</div>


        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col text text-brown">This Nested one
            <div class="row">
                <div class="col text text-blue">Nestcol1</div>
                <div class="col text text-blue">Nest col 2</div>
                <div class="col text text-blue">nest col 3</div>
               </div>
               <div class="row ">
                <div class="col text text-blue">Nestcol1</div>
                <div class="col text text-blue">Nest col 2</div>
                <div class="col text text-blue">nest col 3</div>
               </div>
            </div>
        </div>
    </div>



    <!-- Layout- Practice 1 -->
    <div class="header">This is Header for Layout</div>
   
</body>
<app-layout1></app-layout1>