<p>form-valid works!</p>
<div class="container ">
    <div class="row ">
        <div class="col ">
        
            <label for="name" class="form-label">Name:
            </label>
            <input class=" px-4  form-control" type="text" name="name" id="name" placeholder="name" >
            <div class="form-text">Enter Name</div>
    </div>
</div>
    <div class="row">
        <div class="col col-6">
            
            <label class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control px-4 " placeholder="Email">
            <div class="form-text">Enter Email</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-6">
            <button type="button" class="btn btn-primary">LogIn</button>
        </div>
        <div class="col col-6">
            <button type="button" class="btn btn-info">SignUp</button>
        </div>
    </div>
</div>
